### India Census 2011 dataset

In [ ]:
import pandas as pd


# importing the dataset using the pandas
df = pd.read_csv("india_census_2011.csv")

In [ ]:
df.shape

In [ ]:
df.head()

   District_code         State_name  ... Age_Group_30_49  Age_Group_50
0              1  JAMMU AND KASHMIR  ...          178435         89679
1              2  JAMMU AND KASHMIR  ...          160933         88978
2              3  JAMMU AND KASHMIR  ...           41515         21019
3              4  JAMMU AND KASHMIR  ...           35561         17488
4              5  JAMMU AND KASHMIR  ...          109818         61334

[5 rows x 25 columns]

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# we can hide the index of the dataframe
df.style.hide_index()

In [ ]:
df.style.set_caption("India Census 2011 Dataset")

In [ ]:
# using below syntax we can access any specific column of the dataset
df['District_name']

0                        Kupwara
1                         Badgam
2                    Leh(Ladakh)
3                         Kargil
4                          Punch
                 ...
635                         Mahe
636                     Karaikal
637                     Nicobars
638    North  AND Middle Andaman
639                South Andaman
Name: District_name, Length: 640, dtype: object

In [ ]:
# isin() methode basically finds the required result is present or not
is_present = df['District_name'].isin(['New Delhi', 'Patna', 'Varanasi'])

df[is_present]

- Calculating state-wise
    - total popluation
    - total popluation with different religions

In [ ]:
# so inorder to get data in group wise like state as given in problem
# we will use groupby method

df.groupby('State_name').Population.sum()

State_name
ANDAMAN AND NICOBAR ISLANDS       380581
ANDHRA PRADESH                  84580777
ARUNACHAL PRADESH                1383727
ASSAM                           31205576
BIHAR                          104099452
CHANDIGARH                       1055450
CHHATTISGARH                    25545198
DADRA AND NAGAR HAVELI            343709
DAMAN AND DIU                     243247
GOA                              1458545
GUJARAT                         60439692
HARYANA                         25351462
HIMACHAL PRADESH                 6864602
JAMMU AND KASHMIR               12541302
JHARKHAND                       32988134
KARNATAKA                       61095297
KERALA                          33406061
LAKSHADWEEP                        64473
MADHYA PRADESH                  72626809
MAHARASHTRA                    112374333
MANIPUR                          2855794
MEGHALAYA                        2966889
MIZORAM                          1097206
NAGALAND                         1978502
NCT OF DELHI                    16787941
ORISSA                          41974218
PONDICHERRY                      1247953
PUNJAB                          27743338
RAJASTHAN                       68548437
SIKKIM                            610577
TAMIL NADU                      72147030
TRIPURA                          3673917
UTTAR PRADESH                  199812341
UTTARAKHAND                     10086292
WEST BENGAL                     91276115
Name: Population, dtype: int64

In [ ]:
# printing population count state wise in descending order


df.groupby('State_name').Population.sum().sort_values(ascending = False)

State_name
UTTAR PRADESH                  199812341
MAHARASHTRA                    112374333
BIHAR                          104099452
WEST BENGAL                     91276115
ANDHRA PRADESH                  84580777
MADHYA PRADESH                  72626809
TAMIL NADU                      72147030
RAJASTHAN                       68548437
KARNATAKA                       61095297
GUJARAT                         60439692
ORISSA                          41974218
KERALA                          33406061
JHARKHAND                       32988134
ASSAM                           31205576
PUNJAB                          27743338
CHHATTISGARH                    25545198
HARYANA                         25351462
NCT OF DELHI                    16787941
JAMMU AND KASHMIR               12541302
UTTARAKHAND                     10086292
HIMACHAL PRADESH                 6864602
TRIPURA                          3673917
MEGHALAYA                        2966889
MANIPUR                          2855794
NAGALAND                         1978502
GOA                              1458545
ARUNACHAL PRADESH                1383727
PONDICHERRY                      1247953
MIZORAM                          1097206
CHANDIGARH                       1055450
SIKKIM                            610577
ANDAMAN AND NICOBAR ISLANDS       380581
DADRA AND NAGAR HAVELI            343709
DAMAN AND DIU                     243247
LAKSHADWEEP                        64473
Name: Population, dtype: int64

In [ ]:
df.groupby('State_name')['Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                Hindus   Muslims  ...  Buddhists    Jains
State_name                                        ...
ANDAMAN AND NICOBAR ISLANDS     264296     32413  ...        338       31
ANDHRA PRADESH                74824149   8082412  ...      36692    53849
ARUNACHAL PRADESH               401876     27045  ...     162815      771
ASSAM                         19180759  10679345  ...      54993    25949
BIHAR                         86078686  17557809  ...      25453    18914
CHANDIGARH                      852574     51447  ...       1160     1960
CHHATTISGARH                  23819789    514998  ...      70467    61510
DADRA AND NAGAR HAVELI          322857     12922  ...        634     1186
DAMAN AND DIU                   220150     19277  ...        217      287
GOA                             963877    121564  ...       1095     1109
GUJARAT                       53533988   5846761  ...      30483   579654
HARYANA                       22171128   1781342  ...       7514    52613
HIMACHAL PRADESH               6532765    149881  ...      78659     1805
JAMMU AND KASHMIR              3566674   8567485  ...     112584     2490
JHARKHAND                     22376051   4793994  ...       8956    14974
KARNATAKA                     51317472   7893065  ...      95710   440280
KERALA                        18282492   8873472  ...       4752     4489
LAKSHADWEEP                       1788     62268  ...         10       11
MADHYA PRADESH                66007121   4774695  ...     216052   567028
MAHARASHTRA                   89703057  12971152  ...    6531200  1400349
MANIPUR                        1181876    239836  ...       7084     1692
MEGHALAYA                       342078    130399  ...       9864      627
MIZORAM                          30136     14832  ...      93411      376
NAGALAND                        173054     48963  ...       6759     2655
NCT OF DELHI                  13712100   2158684  ...      18449   166231
ORISSA                        39300341    911670  ...      13852     9420
PONDICHERRY                    1089409     75556  ...        451     1400
PUNJAB                        10678138    535489  ...      33237    45040
RAJASTHAN                     60657103   6215377  ...      12185   622023
SIKKIM                          352662      9867  ...     167216      314
TAMIL NADU                    63188168   4229479  ...      11186    89265
TRIPURA                        3063903    316042  ...     125385      860
UTTAR PRADESH                159312654  38483967  ...     206285   213267
UTTARAKHAND                    8368636   1406825  ...      14926     9183
WEST BENGAL                   64385546  24654825  ...     282898    60141

[35 rows x 6 columns]

In [ ]:
df.columns

In [ ]:
df.groupby('State_name')['Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains'].sum().sort_values(ascending = False, by = 'Christians')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                Hindus   Muslims  ...  Buddhists    Jains
State_name                                        ...
KERALA                        18282492   8873472  ...       4752     4489
TAMIL NADU                    63188168   4229479  ...      11186    89265
MEGHALAYA                       342078    130399  ...       9864      627
NAGALAND                        173054     48963  ...       6759     2655
JHARKHAND                     22376051   4793994  ...       8956    14974
MANIPUR                        1181876    239836  ...       7084     1692
ASSAM                         19180759  10679345  ...      54993    25949
ORISSA                        39300341    911670  ...      13852     9420
KARNATAKA                     51317472   7893065  ...      95710   440280
ANDHRA PRADESH                74824149   8082412  ...      36692    53849
MAHARASHTRA                   89703057  12971152  ...    6531200  1400349
MIZORAM                          30136     14832  ...      93411      376
WEST BENGAL                   64385546  24654825  ...     282898    60141
CHHATTISGARH                  23819789    514998  ...      70467    61510
ARUNACHAL PRADESH               401876     27045  ...     162815      771
GOA                             963877    121564  ...       1095     1109
UTTAR PRADESH                159312654  38483967  ...     206285   213267
PUNJAB                        10678138    535489  ...      33237    45040
GUJARAT                       53533988   5846761  ...      30483   579654
MADHYA PRADESH                66007121   4774695  ...     216052   567028
TRIPURA                        3063903    316042  ...     125385      860
NCT OF DELHI                  13712100   2158684  ...      18449   166231
BIHAR                         86078686  17557809  ...      25453    18914
RAJASTHAN                     60657103   6215377  ...      12185   622023
ANDAMAN AND NICOBAR ISLANDS     264296     32413  ...        338       31
PONDICHERRY                    1089409     75556  ...        451     1400
SIKKIM                          352662      9867  ...     167216      314
HARYANA                       22171128   1781342  ...       7514    52613
UTTARAKHAND                    8368636   1406825  ...      14926     9183
JAMMU AND KASHMIR              3566674   8567485  ...     112584     2490
HIMACHAL PRADESH               6532765    149881  ...      78659     1805
CHANDIGARH                      852574     51447  ...       1160     1960
DADRA AND NAGAR HAVELI          322857     12922  ...        634     1186
DAMAN AND DIU                   220150     19277  ...        217      287
LAKSHADWEEP                       1788     62268  ...         10       11

[35 rows x 6 columns]

- Calculating Male workers in Bihar

In [ ]:
male_worker = df[df.State_name == 'BIHAR']['Male_Workers'].sum()
female_worker = df[df.State_name == 'BIHAR']['Female_Workers'].sum()

print("Male Workers in Bihar: ", male_worker)
print("Female Workers in Bihar: ", female_worker)

Male Workers in Bihar:  25222189
Female Workers in Bihar:  9502798

In [ ]:
# setting column as index
df.set_index('District_code')

In [ ]:
# if you want to save the change to dataframe 
# //then save it back to df = df.add_suffix('right_main_addhoga')
df.add_suffix('right_main_addhoga')

In [ ]:
df.add_prefix('left_main_addhoga')